<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Excluir Aluno</h1>
        </div>

    </div>


    <div class="container">
        <div class="section">
            <h3 class="header center red-text">Tem certeza que deseja excluir o aluno?</h3>
            <form action="/alunos/delete" method="post">
                <div class="input-field col m6 s12">
                    <input type="hidden" name="id" th:value="${id}">
                    <label>Nome: </label>
                    <input type="text" name="nome" th:value="${aluno.nome}" disabled>
                </div>

                <div class="input-field col m6 s12">
                    <label>Email</label>
                    <input type="text" name="email" th:value="${aluno.email}" disabled>
                </div>
                <button class="waves-effect waves-light btn-large red">Excluir</button>
            </form>
        </div>
    </div>
</body>

</html>