<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UEG - Desenvolvimento Web 2025: Alunos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Lista de Alunos</h1>
        </div>
    </div>

    <div class="container">
        <div class="section">


            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/alunos">Alunos</a></li>
                <li><a href="/alunos/create">Novo Aluno</a></li>
            </ul>

            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Ações</th>
                </tr>

                <tr th:each="aluno, iter: ${alunos}">
                    <td th:text="${aluno.nome}">

                    </td>
                    <td th:text="${aluno.email}">

                    </td>
                    <td>
                        <ul>
                            <li>
                                <a  class="waves-effect waves-light btn-small" th:href="@{'/alunos/update/' + ${iter.index}}">Atualizar</a>
                            </li>
                            <li>
                                <a  class="waves-effect waves-light btn-small red" th:href="@{'/alunos/delete/' + ${iter.index}}">Excluir</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>

</html>