<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEG - Desenvolvimento Web 2025: Atualizar Aluno</title>
</head>
<body>
    <h1>Atualização de Cadastro de Aluno</h1>
    <form>
        <label>Nome:</label>
        <input type="text" id="nome" name="nome">

        <label>Matrícula:</label>
        <input type="text" id="matricula" name="matricula">

        <label for="email">E-mail:</label> 
        <input type="email" id="email" name="email">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>