<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEG - Desenvolvimento Web 2025: Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table>
        <tr><!-- Labels-->
            <th>Nome</th>
            <th>Matrícula</th>
            <th>
                <ul>
                    <li>Editar</li>            
                    <li>Deletar</li>
                </ul>
            </th>
        </tr>
        <tr>
            <td>Ana</td>
            <td>12345</td>
            <td>
                <ul>
                <li><a href="aluno-update.html">Editar</a></li>
                <li><a href="aluno-delete.html">Excluir</a></li>             
                </ul>
            </td>
        </tr>
        <tr>
            <td>João</td>
            <td>12346</td>
            <td>
                <ul>
                    <li><a href="aluno-update.html">Editar</a></li>
                    <li><a href="aluno-delete.html">Excluir</a></li>             
                </ul>
            </td>
        </tr>
        <tr>
            <td>Maria</td>
            <td>12347</td>
            <td>
                <ul>
                    <li><a href="aluno-update.html">Editar</a></li>
                    <li><a href="aluno-delete.html">Excluir</a></li>             
                </ul>
            </td>
        </tr>
    </table>

</body>
</html>